<div class="col-md-4">
          
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Name</label>
        <textarea class="form-control" rows="3" [(ngModel)]="newPName" ></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Price</label>
        <textarea class="form-control" rows="3" [(ngModel)]="newPSalary"  ></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" rows="3" [(ngModel)]="newPdescribtion"  ></textarea>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onAdd()">add</button>


</div>

